// @import "../node_modules/bootstrap/scss/utilities/align";
// @import "../node_modules/bootstrap/scss/utilities/background";
// @import "../node_modules/bootstrap/scss/utilities/borders";
// @import "../node_modules/bootstrap/scss/utilities/clearfix";
// @import "../node_modules/bootstrap/scss/utilities/display";
// @import "../node_modules/bootstrap/scss/utilities/embed";
// @import "../node_modules/bootstrap/scss/utilities/flex";
// @import "../node_modules/bootstrap/scss/utilities/float";
@import "./Modules/Org/Components/Login/Login";
@import "./Shared/Components/AppHeader/AppHeader";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212529;
}

input {
  text-indent: 10px;
  border-radius: 3px;
  border: solid 1px #c3c3c3;
  &:focus {
    outline: none;
  }
}

.row {
  margin: 0px;
  margin-bottom: 20px;
  width: 100%;
}

.end{
  text-align: end;
}
