.reqListContainer {
    .titleRow {
        font-weight: 600;
        border-bottom: solid 2px #d3d3d3;
    }
    .item{
        margin: 5px 0px;
        padding: 5px 0px;
        border-bottom: solid 1px #d3d3d3;
        min-height: 49px;
    }
}
